[package]
name = "roaring"
version = "0.10.2"
rust-version = "1.65.0"
authors = ["Wim Looman <wim@nemo157.com>", "Kerollmops <kero@meilisearch.com>"]
description = "https://roaringbitmap.org: A better compressed bitset - pure Rust implementation"

documentation = "https://docs.rs/roaring"
repository = "https://github.com/RoaringBitmap/roaring-rs"

readme = "README.md"
keywords = ["roaring", "data-structure", "bitmap"]
categories = ["data-structures"]
edition = "2021"

license = "MIT OR Apache-2.0"

[dependencies]
bytemuck = "1.7.3"
byteorder = { version = "1.4.3", default-features = false }
serde = { version = "1.0.139", optional = true }

[features]
default = ["std"]
simd = []
std = ["byteorder/std"]

[dev-dependencies]
proptest = "1.2.0"
serde_json = "1.0.85"
bincode = "1.3.3"

[profile.test]
opt-level = 2
