[package]
name = "benchmarks"
description = "An external library for benchmarking the roaring crate with real datasets"
version = "0.1.0"
authors = ["Kerollmops <renault.cle@gmail.com>"]
edition = "2018"
publish = false

[dependencies]
roaring = { path = ".." }

[dev-dependencies]
criterion = "0.3"
quickcheck = "0.9"
quickcheck_macros = "0.9"

[build-dependencies]
anyhow = "1.0"
bytes = "1.0"
convert_case = "0.4"
reqwest = { version = "0.11.3", features = ["blocking", "rustls-tls"], default-features = false }
zip = "0.5.12"

[[bench]]
name = "lib"
harness = false
